<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<filter-class>filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>welcome</servlet-name>
		<servlet-class>com.cacoo.apisample.myapp.WelcomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cacooCallback</servlet-name>
		<servlet-class>com.cacoo.apisample.cacoo.servlet.CacooCallbackServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>diagrams</servlet-name>
		<servlet-class>com.cacoo.apisample.cacoo.servlet.CacooDiagramsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>com.cacoo.apisample.cacoo.servlet.CacooDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>copyInit</servlet-name>
		<servlet-class>com.cacoo.apisample.cacoo.servlet.CacooCopyInitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>copyInput</servlet-name>
		<servlet-class>com.cacoo.apisample.cacoo.servlet.CacooCopyInputServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>detail</servlet-name>
		<servlet-class>com.cacoo.apisample.cacoo.servlet.CacooDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>comment</servlet-name>
		<servlet-class>com.cacoo.apisample.cacoo.servlet.CacooCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>create</servlet-name>
		<servlet-class>com.cacoo.apisample.cacoo.servlet.CacooCreateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>image</servlet-name>
		<servlet-class>com.cacoo.apisample.cacoo.servlet.CacooImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>editor</servlet-name>
		<servlet-class>com.cacoo.apisample.cacoo.servlet.CacooEditorServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>welcome</servlet-name>
		<url-pattern>/myapp/welcome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cacooCallback</servlet-name>
		<url-pattern>/cacoo/callback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>diagrams</servlet-name>
		<url-pattern>/cacoo/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/cacoo/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>copyInit</servlet-name>
		<url-pattern>/cacoo/copyInit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>copyInput</servlet-name>
		<url-pattern>/cacoo/copyInput</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>detail</servlet-name>
		<url-pattern>/cacoo/detail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>comment</servlet-name>
		<url-pattern>/cacoo/comment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>create</servlet-name>
		<url-pattern>/cacoo/create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>image</servlet-name>
		<url-pattern>/cacoo/image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>editor</servlet-name>
		<url-pattern>/cacoo/editor</url-pattern>
	</servlet-mapping>
	
	<display-name>CacooApiSample</display-name>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>My App auth</web-resource-name>
			<url-pattern>/myapp/*</url-pattern>
			<url-pattern>/cacoo/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>myapp</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>CacooApiSample</realm-name>
		<form-login-config>
			<form-login-page>/WEB-INF/jsp/login.jsp</form-login-page>
			<form-error-page>/WEB-INF/jsp/login_error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>myapp</role-name>
	</security-role>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>